body {
  font-family: 'PSLXSAMSON';
  font-size: 40px;
  background-color: black;
  color: black;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.txtinput {
  border-radius: 2px;
  background: url("../images/inputBG-compressor.png") no-repeat;
  width: 354px;
  height: 39px;
  text-align: center;
}

.loginMain {
  background: url("../images/redbullBG-login-fix-compressor.jpg") no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  width: 1200px;
  margin: auto;
}

.leftside {
  width: 720px;
  height: 800px;
  float: left;
}

.leftside__headEvent {
  height: 370px;
}

.logobox {
  width: 440px;
  height: 160px;
  display: block;
  margin: auto;
  margin-top: 250px;
}

.logobox__L {
  width: 200px;
  height: 160px;
  float: left;
}

.L__redbulllogo {
  background: url("../images/redbullLogo_login-compressor.png") no-repeat;
  width: 166px;
  height: 160px;
  display: block;
  margin: auto;
}

.logobox__R {
  width: 240px;
  height: 137px;
  float: right;
  margin-top: 20px;
}

.R__FNBlogo {
  background: url("../images/FNBLogo_login-compressor.png") no-repeat;
  width: 240px;
  height: 137px;
  display: block;
  margin: auto;
}

.leftside__btn--infoevent {
  background: url("../images/btn_infoevent-compressor.png") no-repeat;
  width: 352px;
  height: 99px;
  display: block;
  margin: auto;
}

.rightside {
  width: 480px;
  height: 800px;
  float: right;
}

.rightside__txthead {
  margin-top: 40px;
  color: #ffc500;
  text-align: center;
  font-size: 50px;
}

.labeltxt {
  color: #fff;
  font-size: 40px;
  text-align: center;
}

.rightside__username {
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.rightside__password {
  margin-top: 20px;
  text-align: center;
}

.rightside__captcha {
  margin-top: 40px;
  text-align: center;
}

.capcha_txt {
  margin-left: 80px;
}

.capcha_txt > img {
  border-radius: 5px;
}

#UpdatePanel1 {
  height: 80px;
}

.rightside__buttonbox {
  width: 352px;
  margin: auto;
  margin-top: 30px;
}

.buttonbox__btn--login {
  background: url("../images/btn_login-compressor.png") no-repeat;
  width: 352px;
  height: 99px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.buttonbox__btn--forgetID {
  background: url("../images/btn_forgetID-compressor.png") no-repeat;
  width: 171px;
  height: 43px;
  display: block;
  margin: auto;
  float: left;
}

.buttonbox__btn--forgetPass {
  background: url("../images/btn_forgetpass-compressor.png") no-repeat;
  width: 167px;
  height: 43px;
  display: block;
  margin: auto;
  float: right;
}

.buttonbox__btn--problem {
  background: url("../images/btn_ploblem-compressor.png") no-repeat;
  width: 350px;
  height: 39px;
  display: block;
  margin: auto;
  margin-top: 65px;
}

.maincontent {
  background-image: url("../images/redbullGetcodeBG-compressor.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  width: 1200px;
  margin: auto;
}

.leftpanel {
  width: 650px;
  height: 800px;
  float: left;
}

.leftpanel__headEvent {
  height: 220px;
}

.headEvent__logo {
  height: 156px;
  width: 390px;
  margin: auto;
  margin-top: 50px;
}

.logo__redbull {
  float: left;
  background-image: url("../images/redbullLogo_getcode-compressor.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 156px;
  width: 150px;
  margin: auto;
}

.logo__FNB {
  float: right;
  background-image: url("../images/FNBLogo_getcode-compressor.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 132px;
  width: 228px;
  margin-top: 24px;
}

.headEvent__txt {
  color: #fff;
  font-size: 40px;
  text-align: center;
}

.leftpanel__GetitemDescr {
  color: #ffc500;
  font-size: 30px;
  text-align: center;
}

.leftpanel__getitembox {
  width: 386px;
  height: 39px;
  margin: auto;
}

.getitembox__igetcode {
  border-radius: 2px;
  background: url("../images/inputBG_GetItem-compressor.png") no-repeat;
  width: 232px;
  height: 39px;
  text-align: center;
  float: left;
  font-size: 25px;
}

.getitembox__btn--getcode {
  background: url("../images/btn_getItemcode.png") no-repeat;
  width: 154px;
  height: 38px;
}

.getitembox__coundownpanel {
  width: 154px;
  height: 38px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  float: right;
}

.leftpanel__captchabox {
  height: 40px;
  width: 438px;
  float: right;
  margin-right: 80px;
}

.captchabox__getItemcaptcha {
  border-radius: 2px;
  background: url("../images/inputBG_GetItem-compressor.png") no-repeat;
  width: 232px;
  height: 39px;
  text-align: center;
  float: left;
  font-size: 25px;
}

.captchabox__img {
  width: 205px;
  float: right;
}

.captchabox__img__getitem {
  float: left;
}

.leftpanel__getItemImage {
  height: 154px;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 50px;
  text-align: center;
}

.bgShowCode {
  background: url("../images/inputBG_showCode-compressor.png") no-repeat;
  width: 354px;
  height: 39px;
  display: block;
  margin: auto;
}

#Lblitem {
  color: #000;
  font-size: 30px;
  text-shadow: none;
}

.leftpanel__showCodeDescr {
  color: #ffc500;
  font-size: 30px;
  text-align: center;
}

.leftpanel__btn--how2use {
  background: url("../images/btn_howtouse.png") no-repeat;
  width: 171px;
  height: 43px;
  display: block;
  margin: auto;
}

.rightpanel {
  width: 550px;
  height: 800px;
  float: right;
}

.rightpanel__usernamebox {
  background: url("../images/inputBG_showUserlogin-compressor.png") no-repeat;
  width: 545px;
  height: 46px;
  display: block;
  margin: auto;
  margin-top: 80px;
}

.usernamebox__Lbl {
  color: #ffc500;
  font-size: 30px;
}

.rightpanel__btnBox {
  height: 43px;
  padding-left: 5px;
  margin-top: 10px;
}

.btnBox__btn--eventInfo {
  background: url("../images/btn_eventinfo2.png") no-repeat;
  width: 179px;
  height: 43px;
  display: block;
  float: left;
  margin-right: 4px;
}

.btnBox__btn--problem {
  background: url("../images/btn_problem2.png") no-repeat;
  width: 221px;
  height: 43px;
  display: block;
  float: left;
  margin-right: 4px;
}

.btnBox__btn--logout {
  background: url("../images/btn_logout.png") no-repeat;
  width: 136px;
  height: 43px;
  display: block;
  float: left;
}

.rightpanel__historyTitle {
  color: #ffc500;
  font-size: 40px;
  text-align: center;
}

.tablecontent {
  width: 550px;
  text-align: center;
  vertical-align: middle;
  color: #ffc500;
  font-size: 10px;
}

.tablecontent td, .tablecontent th {
  text-align: center;
  font-family: 'Tahoma', Geneva, sans-serif;
  background-color: #000;
  text-shadow: none;
}

/*custom datagrid pagination asp*/
.cssPager {
  background-color: #fff;
  padding: 2px;
  margin: 2% auto;
  font-size: 12px;
}

.cssPager a {
  margin: auto 1%;
  background-color: #444;
  padding: 5px 10px 5px 10px;
  color: #fff;
  text-decoration: none;
}

.cssPager a:hover {
  background-color: #b3b3b3;
  color: #fff;
}

.cssPager span {
  background-color: #fff;
  color: #b3b3b3;
  padding: 5px 10px 5px 10px;
}

.statpanel {
  display: none;
}

#countdown {
  font-size: 30px;
  color: #ffc500;
  margin-left: 45%;
}

.btnRefresh {
  background: url("../images/iconrefresh-compressor.png") no-repeat scroll center center transparent;
  display: block;
  height: 40px;
  width: 40px;
  top: -45px;
  right: 90px;
  position: relative;
  float: right;
}

.btnRefresh2 {
  background: url("../images/iconrefresh-compressor.png") no-repeat scroll center center transparent;
  display: block;
  height: 40px;
  width: 40px;
  float: right;
}
