<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<customErrors mode="Off"/>
		<httpRuntime requestValidationMode="2.0"/>
		<httpHandlers>
			<add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
		</httpHandlers>
	</system.web>
	<system.webServer>
		<handlers>
			<add name="Captcha" verb="*" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" resourceType="Unspecified"/>
		</handlers>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IClickCodeService"/>
				<binding name="BasicHttpBinding_IClickMemberService"/>
				<binding name="itemHistoryServiceSoap"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://27.254.94.6/ClickService/ClickcodeService/ClickCodeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClickCodeService" contract="wsClickCodeService.IClickCodeService" name="BasicHttpBinding_IClickCodeService"/>
			<endpoint address="http://27.254.94.6/ClickService/ClickMemberService/ClickMemberService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClickMemberService" contract="wsClickMemberService.IClickMemberService" name="BasicHttpBinding_IClickMemberService"/>
			<endpoint address="http://localhost:3563/ServiceitemHistory/itemHistoryService.asmx" binding="basicHttpBinding" bindingConfiguration="itemHistoryServiceSoap" contract="itemHistoryService.itemHistoryServiceSoap" name="itemHistoryServiceSoap"/>
		</client>
	</system.serviceModel>
</configuration>
